
//project colours
$background-grey: #F8F8FB;


//form
$disabled-input-grey: #f2f3f7;
$disabled-text-grey: #95AAC9;
$border-grey: #e3ebf6;

//common
$blue: #0E5FE3;
$red: #B72020;
$white: #FFFFFF;
$black: #000000;